@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div id="about" class="k-d-flex-col k-justify-content-between k-align-items-start" style="gap:2em; margin:2em; width:60%;">
    <h2>Telerik Admin Dashboard</h2>
    <p>
        Telerik Admin Dashboard is a web app built with Progress award-winning
        <a href="https://www.telerik.com/aspnet-mvc">Telerik UI for ASP.NET MVC components</a> - 110+ UI components to help you build responsive websites and apps fast. Telerik UI for ASP.NET MVC<sup>®</sup> offers components for every need - from the must-have for every app Grids, Dropdowns and Menus to the advanced line-of-business UI, such as Charts, Gantt, Diagram, Scheduler, PivotGrid and Maps.
    </p>

    <p>
        The sample app showcases some of the most popular Telerik UI for ASP.NET MVC components, such as Grid, TileLayout, Form, Charts, Gauges, etc. in a real world scenario.
    </p>
    <p>
        <div class="section-white">
            <h3 class="section-title">Telerik UI for ASP.NET MVC components</h3>
            <ul class="col-xs-4">
                <li>
                    <a href="https://demos.telerik.com/aspnet-mvc/grid">Grid</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/aspnet-mvc/charts">Charts</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/aspnet-mvc/tilelayout">TileLayout</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/aspnet-mvc/drawer">Drawer</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/aspnet-mvc/form">Form</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/aspnet-mvc/appbar">AppBar</a>
                </li>
                <li>
                    <a href="https://demos.telerik.com/aspnet-mvc/circular-gauge">Circular Gauge</a>
                </li>
            </ul>
        </div>
    </p>
</div>